/* Блок секции хедера */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 293px;
}

.nav_bar_and_logo {
  display: flex;
  align-items: center;
  margin-top: -3px;
  margin-left: 50px;
  font-family: "Raleway", Arial;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0%;
  gap: 11px;
}

.nav_bar_and_logo a {
  margin-left: 34px;
}

.nav_bar_and_logo img {
  height: 105px;
}

.nav_bar_and_logo > ul {
  display: flex;
  gap: 34px;
  height: fit-content;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  letter-spacing: 0%;
  text-decoration: underline;
  list-style-type: circle;
  white-space: nowrap;
}

.about_address {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 50px;
  font-family: "Raleway", Arial;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.about_address > ul {
  text-decoration: underline;
  list-style-type: none;
}

/* Блок секции логотипа лендинга */

.landing_logo {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark_glass {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--dark-glass);
}

.motivational_text {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr) 65px 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  padding: 165px 50px 50px 50px;
}

.title_text_part {
  z-index: 2;
  color: var(--color-white);
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.title_text_part:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  margin-left: 14px;
  letter-spacing: calc(1em / 3.5);
}

.title_text_part:nth-child(2) {
  grid-column: 4 / span 4;
  grid-row: 2 / span 1;
  margin-left: 30px;
  letter-spacing: calc(1em / 3.4);
}

.title_text_part:nth-child(3) {
  grid-column: 7 / span 4;
  grid-row: 3 / span 1;
  margin-left: 46px;
  letter-spacing: calc(1em / 3.3);
}

.action_block {
  z-index: 2;
  display: flex;
  grid-column: 1 / span 10;
  grid-row: 5 / span 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 51px;
  color: var(--color-white);
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 80%;
}

.text_part {
  word-spacing: 18.5px;
}

.button_place_a_bet {
  height: 100%;
  border: 1px solid var(--color-white);
  padding: 12px 32px 11px 31px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: inherit;
  transition: 0.3s;
}

.button_place_a_bet:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  transform: scale(1.1);
}

.button_place_a_bet:active {
  transform: scale(1.05);
}

/* Блок секции лотов */

.lots {
  margin-top: 180px;
  color: var(--color-white);
}

.title_lots_section {
  margin-left: 64px;
  color: var(--color-black);
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: 40px;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots_list {
  display: flex;
  justify-content: space-between;
  max-width: 1052px;
  margin: 0 auto;
  margin-top: 27px;
}

.a_lot_card_wrap {
  width: 33%;
  max-width: 334px;
}

.a_lot_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 596px;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.a_lot_card:hover {
  transform: translateX(2%);
}

.card_title {
  z-index: 2;
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_description {
  z-index: 2;
  font-family: "Raleway", Arial;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.director_story {
  background-image: url("../images/card-lot-01.jpg");
}

.book_story {
  background-image: url("../images/card-lot-02.jpg");
}

.picture_story {
  background-image: url("../images/card-lot-03.jpg");
}

.see_more_link {
  margin-top: 31.6px;
  margin-left: 63px;
  color: var(--color-black);
  font-family: "Raleway", Arial;
  font-weight: normal;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0%;
  text-decoration: underline;
}

/* Блок секции about */

.about {
  display: flex;
  gap: 72px;
  margin-top: 120px;
}

.logo_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 32px;
  margin-left: 71px;
  border-radius: 50%;
  background-color: var(--color-black);
  aspect-ratio: 1;
}

.logo_wrap > img {
  height: 114px;
}

.about_title {
  margin-top: 12px;
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: 40px;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about_description {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin-top: 133px;
  font-family: "Raleway", Arial;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.about_description .first_part_about {
  margin-top: 110px;
}

.about_description .second_part_about {
  margin-top: 24px;
}

/* Блок футера */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 182px;
  padding: 0 50px 82px;
}

.footer_navbar {
  width: 164px;
  margin: 0;
  margin-right: 50px;
  padding: 0;
  text-align: center;
  list-style-type: none;
  white-space: nowrap;
}

.navbar_item {
  font-family: "Raleway", Arial;
  font-weight: normal;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0%;
  text-decoration: underline;
}

.without_underline {
  text-decoration: none;
}

.social_networks ul {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.social_network_icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: var(--clor-black);
}

.yt {
  background-image: url('../images/yt.svg');
}

.vk {
  background-image: url('../images/vk.svg');
}

.pinterest {
  background-image: url('../images/pinterest.svg');
}